[submodule "examples/typescript/aa-hc-example"]
	path = examples/typescript/aa-hc-example
	url = https://github.com/bobanetwork/aa-hc-example
[submodule "examples/python/aa-hc-PresiBot"]
	path = examples/python/aa-hc-PresiBot
	url = https://github.com/bobanetwork/aa-hc-PresiBot
